.signInButton {
    height: 3rem;
    border-radius: 3rem;
    background: var(--gray-850);
    border: 0;
    padding: 0 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--white);
    font-weight: bold;

    transition: filter 0.2s;

    img {
        border-radius: 50%;
        margin-right: 1rem;
    }

    svg, img {
        width: 24px;
        height: 24px;
            
    }

    svg:first-child {
        margin-right: 1rem;
    }

    svg.closeIcon {
        margin-left: 1rem;
    }

    &:hover {
        filter: brightness(0.8);
    }

}